.App {
  text-align: center;
}
.fa-trash{
  color:red
}
.columnText{
  padding: 0px;
  margin: 0px;
}
.blankText{
  background-color:red;
  padding: 0px;
  margin: 0px;
}
button{
    padding: 10px;
    border: 1px solid grey;
    margin: 5px;
    border-radius: 4px;
}
.ag-theme-alpine .ag-rich-select-list{
  height: auto !important;
}